In [1]:
import pandas as pd 
import numpy as np 
from config import ROOT_DIR

In [5]:
df = pd.read_csv(r"https://www.dataquest.io/wp-content/uploads/2020/06/dataquest_tweets_csv.csv")

In [6]:
df

,date,time,tweet,mentions,photos,replies_count,retweets_count,likes_count
0,2020-06-29,09:36:13,"""Going from 15k to 170k in salary...There's no...",[],['https://pbs.twimg.com/media/EbrvY0SWoAcEQWn....,0,0,0
1,2020-06-26,14:14:44,"Hi Tom, sorry about that! We try to respond to...",['beingtomiwa'],[],0,0,0
2,2020-06-26,12:00:14,Become an @rstudio power user: https://bit.ly/...,['rstudio'],[],0,2,7
3,2020-06-26,11:23:21,Please get in touch with our support team by e...,['jimohkassim'],[],0,0,0
4,2020-06-26,02:00:05,Learn to master R markdown in this free tutori...,[],[],0,2,7
...,...,...,...,...,...,...,...,...
4524,2015-07-01,20:35:57,"@Ariella_CG Very strange, we'll look into this...",['ariella_cg'],[],1,0,0
4525,2015-06-26,09:50:38,@taylor_atx @keen_io We used it at a learning ...,"['taylor_atx', 'keen_io']",[],1,0,1
4526,2015-06-25,20:53:37,"@keen_io Thanks, we love keen.io (and are happ...",['keen_io'],[],2,0,1
4527,2015-06-22,04:30:10,Why image recognition still needs a lot of wor...,[],[],0,0,0
4528,2015-06-21,15:08:14,Check out our lesson on naive bayes in #python...,[],[],0,0,4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4529 entries, 0 to 4528
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4529 non-null   object
 1   time            4529 non-null   object
 2   tweet           4529 non-null   object
 3   mentions        4529 non-null   object
 4   photos          4529 non-null   object
 5   replies_count   4529 non-null   object
 6   retweets_count  4529 non-null   int64
 7   likes_count     4529 non-null   int64
dtypes: int64(2), object(6)
memory usage: 283.2+ KB

#### Adding column 'hasimage' with boolean values

In [9]:
df["hasimage"] = np.where(df["photos"] != "[]", True, False)

In [10]:
df

,date,time,tweet,mentions,photos,replies_count,retweets_count,likes_count,hasimage
0,2020-06-29,09:36:13,"""Going from 15k to 170k in salary...There's no...",[],['https://pbs.twimg.com/media/EbrvY0SWoAcEQWn....,0,0,0,True
1,2020-06-26,14:14:44,"Hi Tom, sorry about that! We try to respond to...",['beingtomiwa'],[],0,0,0,False
2,2020-06-26,12:00:14,Become an @rstudio power user: https://bit.ly/...,['rstudio'],[],0,2,7,False
3,2020-06-26,11:23:21,Please get in touch with our support team by e...,['jimohkassim'],[],0,0,0,False
4,2020-06-26,02:00:05,Learn to master R markdown in this free tutori...,[],[],0,2,7,False
...,...,...,...,...,...,...,...,...,...
4524,2015-07-01,20:35:57,"@Ariella_CG Very strange, we'll look into this...",['ariella_cg'],[],1,0,0,False
4525,2015-06-26,09:50:38,@taylor_atx @keen_io We used it at a learning ...,"['taylor_atx', 'keen_io']",[],1,0,1,False
4526,2015-06-25,20:53:37,"@keen_io Thanks, we love keen.io (and are happ...",['keen_io'],[],2,0,1,False
4527,2015-06-22,04:30:10,Why image recognition still needs a lot of wor...,[],[],0,0,0,False
4528,2015-06-21,15:08:14,Check out our lesson on naive bayes in #python...,[],[],0,0,4,False

#### Split dataset based on whether image url is attached to tweet or not

In [11]:
image_tweets = df[df["hasimage"]]
non_image_tweets = df[~df["hasimage"]]

In [14]:
image_tweets.head()

,date,time,tweet,mentions,photos,replies_count,retweets_count,likes_count,hasimage
0,2020-06-29,09:36:13,"""Going from 15k to 170k in salary...There's no...",[],['https://pbs.twimg.com/media/EbrvY0SWoAcEQWn....,0,0,0,True
7,2020-06-25,10:03:04,"""I'm really learning more at Dataquest than fr...",[],['https://pbs.twimg.com/media/EbXPOjqXgAIgE2f....,1,0,4,True
10,2020-06-24,09:38:54,"""Dataquest really helped me to switch my caree...",[],['https://pbs.twimg.com/media/EbR_-LoXsAEoCB3....,1,0,0,True
12,2020-06-23,18:00:28,"We've shared this @lizandmollie image before, ...",['lizandmollie'],['https://pbs.twimg.com/media/EbOpVg6WAAAJcIH....,0,16,41,True
21,2020-06-22,12:51:55,"""I feel more comfortable using data, which all...",[],['https://pbs.twimg.com/media/EbIZHbMX0AIXy1p....,1,0,1,True

In [15]:
non_image_tweets.head()

,date,time,tweet,mentions,photos,replies_count,retweets_count,likes_count,hasimage
1,2020-06-26,14:14:44,"Hi Tom, sorry about that! We try to respond to...",['beingtomiwa'],[],0,0,0,False
2,2020-06-26,12:00:14,Become an @rstudio power user: https://bit.ly/...,['rstudio'],[],0,2,7,False
3,2020-06-26,11:23:21,Please get in touch with our support team by e...,['jimohkassim'],[],0,0,0,False
4,2020-06-26,02:00:05,Learn to master R markdown in this free tutori...,[],[],0,2,7,False
5,2020-06-25,21:00:05,This is an interesting story about what was so...,[],[],0,1,2,False

In [18]:
df["replies_count"].unique()

array(['0', '1', '2', '3', '8', '5', '9', '[]', '10', '7', '4',
       "['https://pbs.twimg.com/media/DT1b9aKWkAURpTr.jpg']"],
      dtype=object)

In [21]:
df = df.astype(dtype={
    "replies_count": "int64"
}, errors="ignore")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4529 entries, 0 to 4528
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4529 non-null   object
 1   time            4529 non-null   object
 2   tweet           4529 non-null   object
 3   mentions        4529 non-null   object
 4   photos          4529 non-null   object
 5   replies_count   4529 non-null   object
 6   retweets_count  4529 non-null   int64
 7   likes_count     4529 non-null   int64
 8   hasimage        4529 non-null   bool
dtypes: bool(1), int64(2), object(6)
memory usage: 287.6+ KB

In [29]:
print(f"Average likes, all tweets: {df['likes_count'].mean()}")
print(f"Average likes, non_image tweets: {non_image_tweets['likes_count'].mean()}")
print(f"Average likes, image tweets: {image_tweets['likes_count'].mean()}")

Average likes, all tweets: 6.209759328770148
Average likes, non_image tweets: 5.176514584891549
Average likes, image tweets: 14.21042471042471

In [28]:
print(f"Average RTs, all tweets: {df['retweets_count'].mean()}")
print(f"Average RTs, non_image tweets: {non_image_tweets['retweets_count'].mean()}")
print(f"Average RTs, image tweets: {image_tweets['retweets_count'].mean()}")

Average RTs, all tweets: 1.5553102230072864
Average RTs, non_image tweets: 1.2991772625280478
Average RTs, image tweets: 3.5386100386100385

#### Based on above results, it seems including images in tweets may promote more engagement

In [30]:
x = np.arange(6)
x

array([0, 1, 2, 3, 4, 5])

In [31]:
np.select([x < 3, x > 3], [x, x**2], 444)

array([  0,   1,   2, 444,  16,  25])

In [32]:
condlist = [
    df["likes_count"] <= 2,
    (df["likes_count"] > 2) & (df["likes_count"] <=9),
    (df["likes_count"] > 9) & (df["likes_count"] <= 15),
    df["likes_count"] > 15
]
choicelist = ["tier_4", "tier_3", "tier_2", "tier_1"]

In [33]:
# new column 'tier' grading tweets based on number of likes
df["tier"] = np.select(condlist, choicelist)

In [34]:
df.head()

,date,time,tweet,mentions,photos,replies_count,retweets_count,likes_count,hasimage,tier
0,2020-06-29,09:36:13,"""Going from 15k to 170k in salary...There's no...",[],['https://pbs.twimg.com/media/EbrvY0SWoAcEQWn....,0,0,0,True,tier_4
1,2020-06-26,14:14:44,"Hi Tom, sorry about that! We try to respond to...",['beingtomiwa'],[],0,0,0,False,tier_4
2,2020-06-26,12:00:14,Become an @rstudio power user: https://bit.ly/...,['rstudio'],[],0,2,7,False,tier_3
3,2020-06-26,11:23:21,Please get in touch with our support team by e...,['jimohkassim'],[],0,0,0,False,tier_4
4,2020-06-26,02:00:05,Learn to master R markdown in this free tutori...,[],[],0,2,7,False,tier_3

In [35]:
df["tier"].unique()

array(['tier_4', 'tier_3', 'tier_2', 'tier_1'], dtype=object)

In [36]:
df["tier"].value_counts()

tier_4    2343
tier_3    1331
tier_2     475
tier_1     380
Name: tier, dtype: int64

#### Compare fraction of tier_4 and tier_1 tweets that have image url attached

In [38]:
df[df["tier"] == "tier_4"]["hasimage"].value_counts(normalize=True)

False    0.948784
True     0.051216
Name: hasimage, dtype: float64

In [39]:
df[df["tier"] == "tier_1"]["hasimage"].value_counts(normalize=True)

False    0.836842
True     0.163158
Name: hasimage, dtype: float64